/* Tailwind-in əsas, komponent və utilitlərini daxil edin */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Yuxarıdakı body və code stilini buraya əlavə edə bilərsiniz */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
